/*----------------------------------------------------------------------------- 
 
 	PinIt
 	Main style-sheet
 	April, 2014
 	 
 ------------------------------------------------------------------------------ */

/* ----------------------------- RESET --------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, main,
dl, dt, dd, ol, ul, li,
fieldset, figure, figcaption, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
}

html {overflow-y: scroll;}

body {
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
}

header, footer, main, nav, aside, article, section, figure {display: block;}


/* ----------------------------- DEFAULTS --------------------------------------- */

@font-face {
    font-family: 'open_sansbold';
    src: url('opensans-bold-webfont.eot');
    src: url('opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensans-bold-webfont.woff') format('woff'),
         url('opensans-bold-webfont.ttf') format('truetype'),
         url('opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansitalic';
    src: url('opensans-italic-webfont.eot');
    src: url('opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensans-italic-webfont.woff') format('woff'),
         url('opensans-italic-webfont.ttf') format('truetype'),
         url('opensans-italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('opensans-regular-webfont.eot');
    src: url('opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensans-regular-webfont.woff') format('woff'),
         url('opensans-regular-webfont.ttf') format('truetype'),
         url('opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	font: 100%/1.2 open_sansregular, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #444;
	background: #D9E3E5;
}

h1 {float: left; width: 25%;}
h2 {font: 2em open_sansbold, "Helvetica Neue", Helvetica, Arial, sans-serif;}

a, a:link {color: #444; background: transparent;}
a:visited {opactiy: .8;}
a:hover {text-decoration: none;}

p, li, dt, dd {font-size: 0.8em;}

img {max-width: 100%;}

hr {display: none;}

strong {font-family: open_sansbold, "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 600;}

/* FORMS */

input {border: 2px solid #CCC; border-radius: 0.3rem;}

button {
	font-family: open_sansregular, "Helvetica Neue", Helvetica, Arial, sans-serif;
	border-radius: 0.3rem;
	cursor: pointer;
}


/* ----------------------------- PAGE STRUCTURE --------------------------------------- */

/* ---- HEADER ---- */

header[role=banner] {
    position: relative;
    overflow: auto;
    color: #FFF;
    background: #333;
    padding: 0.5rem 2.5%;
    box-shadow: 0 1px 3px rgba(0,0,0,.7);
}

.k-tools {float: right; width: 60%; text-align: right; margin-top: 0.5em;}
.k-tools li {
    display: inline;
    text-transform: uppercase;
    list-style-type: none;
    padding-right: 0.5rem;
}
.k-tools li a, .k-tools li a:visited {
    display: inline-block;
    text-decoration: none;
    color: #FFF;
    background: #333;
    padding: 0.3rem 0.5rem;
    border: 1px solid rgba(255,255,255, .7);
    border-radius: 0.3rem;
}

/* On-Off indication */

p.connection-status {
    float: right;
    overflow: hidden;
    width: 1px;
    height: 23px;
    line-height: 23px;
    font-size: 0.7em;
    text-transform: uppercase;
    color: #333;
    background-image: url(../imgs/sprite_onoff.svg);
    background-repeat: no-repeat;
    padding-left: 25px;
    margin: 0.5rem 0 0 1rem;
}

.online {background-position: 0 -61px;}
.offline {background-position: 0 0;}


/* ------ COLUMNS ----- */

#wrapper {padding: 2.5%;}

main, aside[role=complementary] {}
main {min-height: 500px; padding-bottom: 1rem;}

main h2 {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    top: auto;
    left: -9000px;
}

aside[role=complementary] {
    background: #EFEFEF;
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 0.3rem;
}
aside[role=complementary] h2 {
    position: absolute;
    left: -9000px;
    font-size: 1px;
}
aside[role=complementary] p {
    font-size: 0.9em;
    text-align: center;
    margin-bottom: 1rem;
}

/* -------------------------------------- SEARCH -------------------------------- */

form.k-search {text-align: center;}

#search-tag {width: 70%; max-width: 25em; font-size: 110%; padding: 0.3rem;}

form.k-search input[type=submit] {
    font: 0.9em open_sansbold, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    color: #333;
    background: #FEAF04;
    padding: 0.3em 0.5em;
    vertical-align: top;
    cursor: pointer;
}

/* -------------------------------------- NAVIGATION -------------------------------- */

/* --- SKIP LINK --- */

.k-skip {
    display: inline;
    font-size: 1em;
}
.k-skip a, .k-skip a:link, .k-skip a:visited {
    position: absolute;
    overflow: hidden;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
}
.k-skip a:focus {
    position: static;
    width: auto;
    height: auto;
}


/* ---- MAIN NAVIGATION ---- */

/* Navigation control */
nav.k-main-nav {clear: both; background: #069; padding: 0.5rem 2.5%;}

nav.k-main-nav p.control {
    display: none;
    position: absolute;
    top: 5px;
    right: 0;
    width: 45px;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 100;
}

nav.k-main-nav a {color: #FFF;}

ul.k-navbar > li {
    display: inline-block;
    font: 1em/1 open_sansbold, "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style-type: none;
    text-transform: uppercase;
}

ul.k-navbar > li::after {
    display: inline-block;
    content: "\229A";
    font-size: 14px;
    color: #FFF;
    vertical-align: 1px;
    padding-left: 0.2em;
}

ul.k-navbar a, ul.k-navbar a:link, ul.k-navbar a:visited {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #FFF;
    background: transparent;
    padding: 0.5em;
}


ul.k-navbar li.active strong {
    position: relative;
    display: inline-block;
    font-weight: normal;
    text-transform: uppercase;
    color: #FFF;
    background: transparent;
    padding: 0.5em;
}

ul.k-navbar li.active a::after, ul.k-navbar li.active strong::after, ul.k-navbar a:hover::after {
    position: absolute;
    bottom: 5px;
    display: block;
    content: "";
    width: 100%;
    height: 2px;
    background: #feaf04;
    transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
}

.k-tools li a:hover, .k-tools li:first-of-type a:hover {
    color: #333;
    background: #FFF;
    border: 1px solid #FFF;
}
.k-tools li:first-of-type a, .k-tools li:first-of-type a:visited {
    color: #333;
    background: #feaf04;
    border: 1px solid #feaf04;
}


/* -------------------------------------- UTILITIES -------------------------------- */

/* --- ACTIONS LIST --- */

div.k-actions-block {
    clear: both;
}

ul.k-actions {text-align: center; padding: 0; margin: 2rem auto;}

ul.k-actions li {
    display: inline-block;
    list-style-type: none;
    font-size: 0.9em;
    text-align: center;
}

ul.k-actions a, ul.k-actions a:link, ul.k-actions a:visited, ul.k-actions button {
    overflow: hidden;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFF;
    background: #333;
    margin: 0.5em;
    padding: 0.3rem 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 1px 1px rgba(0,0,0,.5);
}

	
/* --- ADD PIN --- */

ul.k-actions li:last-child a {
    width: 121px;
    font-family: open_sansbold, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    color: #333;
    background: #FEAF04 url(../imgs/addpin.svg) top left no-repeat;
    padding-top: 134px;
}
	
/* --- DRAG N DROP ZONE --- */

li.dnd-zone {
    width: 121px;
    font-family: open_sansbold, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    text-transform: uppercase;
    background: url(../imgs/trash.svg) top left no-repeat;
    padding-top: 134px;
    opacity: .5;
}

/* -------------------------------------- PIN BLOCK -------------------------------- */


/* ---------------------------- MEDIA QUERIES -------------------------------- */

